body {
    margin: 0;
}
.topnav {
    display: flex;
    justify-content: space-between;
    background-color: brown;
    width: 100%;
}

.topnav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.topnav ul li a {
    padding: 1em;
    color: black;
    text-decoration: none;
}

.topnav ul li a:hover {
    background-color: maroon;
}
.edit-item {
    display: none;
}

.newSale {
    display: none;
}
